@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('./assets/SEGA.woff') format('woff');
}

body {
  @apply bg-gradient-to-tr from-left-gradient to-right-gradient min-h-screen;
}

.header-anim {
  animation: headerFrames 1.5s  infinite alternate ease-in-out;
}

@keyframes headerFrames {
  from {
    @apply text-logo-color;
  }

  to {
    @apply text-gray-600;
  }
  
}

.growAnim {
  animation: growFrames 1.5s forwards infinite alternate ease-in-out;
}

@keyframes growFrames {
  from {
    transform: scale(1.1) rotate(5deg);
  }
  to {
    transform: scale(0.9) rotate(-5deg);
  }  
}
